{% extends 'main/layout.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'main/css/card.css' %}">
{% endblock %}

{% block title %}
    Инспекции
{% endblock %}

{% block content %}

    {% for event in event_list %}
        {% include 'main/card.html'%}
    {% endfor %}

<!--<div class="card" style="height: 280px; background-color: inherit; border: 5px dashed black">
    <a href="{% url 'create_card' %}"><button style="width:100%; height: 100%; border-radius: 15px;border: 0; font-size: 100px">+</button></a>
</div><--!>

    <script src="{% static 'main/js/openCard.js'%}"></script>

{% endblock %}
