{% extends 'main/layout.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'main/css/tab.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/tab__tabcontent__block.css' %}">
{% endblock %}

{% block title %}
    {{ event }}
{% endblock %}

{% block content %}

<h3 style="margin: 15px;">{{ event.unit.name }} {{ event.unit.station }}</h3>
<h3 style="margin: 15px;">{{ event.full_name|upper }}</h3>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'tab1')" id="defaultOpen">Общая информация</button>
    <button class="tablinks" onclick="openTab(event, 'tab2')">Объем работ</button>
    <button class="tablinks" onclick="openTab(event, 'tab3')">Субподрядчики</button>
    <button class="tablinks" onclick="openTab(event, 'tab4')">Запасные части</button>
    <button class="tablinks" onclick="openTab(event, 'tab5')">Персонал</button>
    <button class="tablinks" onclick="openTab(event, 'tab6')">Ремонтная документация</button>
</div>

<div id="tab1" class="tabcontent">
    <div class="block" id="time">
        <p><span style="font-weight: bold;">Начало: </span>{{ event.start }}</p>
        <p><span style="font-weight: bold;">Окончание: </span>{{ event.end }}</p>
        <p><span style="font-weight: bold;">Длительность: </span>{{ event.duration }}</p>
    </div>
    <div class="block" id="contract">
        <p><span style="font-weight: bold;">Номер договора: </span>{{ event.contract.number }}</p>
        <p><span style="font-weight: bold;">От: </span>{{ event.contract.reg_date }}</p>
        <p><span style="font-weight: bold;">Контрагент: </span>{{ event.contract.counterparty }}</p>
        <p><span style="font-weight: bold;">Стоимость договора: </span>{{ event.contract.value_rub }}</p>
        <p><span style="font-weight: bold;">Файл договора: </span><a href="">{{ event.contract.file }}</a></p>
    </div>
    <div class="block" id="report">
        <p><span style="font-weight: bold;">Отчет: </span>{{ event.report }}</p>
    </div>
</div>

<div id="tab2" class="tabcontent">
    <div class="block"><h3>Объем работ 1</h3></div>
    <div class="block"><h3>Объем работ 2</h3></div>
    <div class="block"><h3>Объем работ 3</h3></div>
    <div class="block"><h3>Объем работ 4</h3></div>
    <div class="block"><h3>Объем работ 5</h3></div>
</div>

<div id="tab3" class="tabcontent">
    <div class="block"><h3>Субподрядчики</h3></div>
</div>

<div id="tab4" class="tabcontent">
    <div class="block"><h3>Запасные части</h3></div>
</div>

<div id="tab5" class="tabcontent">
    <div class="block"><h3>Персонал</h3></div>
</div>

<div id="tab6" class="tabcontent">
    <div class="block"><h3>Ремонтная документация</h3></div>
</div>

<script></script>
<script src="{% static 'main/js/openTab.js' %}"></script>

{% endblock %}