{% block content %}

<div id="services" class="tabcontent" style="padding: 0 0;">
    <div class="container">
        <div class="dashboard">
        <div class="col">
            <div class="block" style="width: calc(100% - 30px)">
                <p style="font-weight: bold">Основные работы по инспекции</p>
                <p>Выполняет: ООО "ГЭХ Сервис газовых турбин"</p>
            </div>
            <div class="block" style="width: calc(100% - 30px)">
                <p style="font-weight: bold">
                    Вспомогательные и подготовительные работы по инспекции
                </p>
                <p>Выполняет: Субподрядчик</p>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}