
{% block content %}

<div id="tab1" class="tabcontent">
    <div class="column" id="1" style="float:left; width:75%;">
        <div class="block" id="time" style="width: calc(50% - 30px); height: 150px">
            <p><span style="font-weight: bold;">СРОКИ ПРОВЕДЕНИЯ</span></p>
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td><span style="font-weight: bold;">Начало: </span></td>
                        <td>{{ event.start }}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold;">Окончание: </span></td>
                        <td>{{ event.end }}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold;">Длительность: </span></td>
                        <td>{{ event.duration }} кал. дней</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block" id="time" style="width: calc(50% - 30px); height: 150px; position: relative">
            <p><span style="font-weight: bold">ИНФОРМАЦИЯ О ГТУ</span></p>

            <table style="width:100%">
                <tbody>
                    <tr>
                        <td><span style="font-weight: bold;">Наименование установки: </span></td>
                        <td>{{ event.unit.name }}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold;">Краткое наименование: </span></td>
                        <td>{{ event.unit.short_name }}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold;">Тип установки: </span></td>
                        <td>{{ event.unit.unit_type }}</td>
                    </tr>
                </tbody>
            </table>
        <div style="text-align: right; position: absolute; bottom: 10px; right:10px"><a href="">Подробнее</a></div>
        </div>
        <div class="block" id="time" style="width: calc(100% - 30px); height: 150px; overflow: auto">
            <p><span style="font-weight: bold;">ОБНОВЛЕНИЯ</span></p>
            <p><span>2022-07-26 10:00 Изменены сроки проведения инспекции</span></p>
            <p><span>2022-07-26 09:00 Добавлена информация о субподрядчиках (нет)</span></p>
            <p><span>2022-07-26 08:00 Добавлена информация о запасных частях (нет)</span></p>
            <p><span>2022-07-26 07:00 Создана страница инспекции</span></p>
        </div>
    </div>
    <div class="column" id="2" style="float:left; width:25%">
        <div class="block" id="contract" style="width: calc(100% - 30px); height: 330px; position: relative">
            <p><span style="font-weight: bold;">ДОГОВОР</span></p>
            <table style="width:100%">
                <tbody style="vertical-align: top">
                    <tr>
                        <td><span style="font-weight: bold;">Номер договора: </span></td>
                        <td>{{ event.contract.number }}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold;">От: </span></td>
                        <td>{{ event.contract.reg_date }}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold;">Контрагент: </span></td>
                        <td>{{ event.contract.counterparty }}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold;">Стоимость договора: </span></td>
                        <td>{{ event.contract.value_rub }}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: bold;">Предмет договора: </span></td>
                        <td>{{ event.contract.subject }}</td>
                    </tr>
                </tbody>
            </table>

        <div style="text-align: right; position: absolute; bottom: 10px; right:10px"><a href="">Подробнее</a></div>
        </div>
    </div>
    <div>
        <div class="block" style="width: calc(100% - 30px); height: 20vh">
            <p><span style="font-weight: bold;">ПРОЧЕЕ</span></p>
            <p><span>Все права защищены (нет)</span></p>
        </div>
    </div>
</div>

{% endblock %}