{% extends 'main/new_layout.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'main/css/tab.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/tab__tabcontent__block.css' %}">
{% endblock %}

{% block title %}
    Добавить станцию
{% endblock %}

{% block content %}

<div class="topline">
    <div class="" style="padding: 2px 7px;">
        <a style="font-weight: 500; ">Добавить станцию</a>
    </div>
</div>

<div style="margin:15px;">
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button class="btn btn-success" type="submit">Сохранить</button>
    </form>
</div>


{% endblock %}
